:root {
    --pry-clr: #E4B458;
    --pry-clr-lg: #fcb62c;
    --pry-clr-drk: #A16F0D;
    --sry-clr: #908E8E;
    --sry-drk-cl: #070502;

}

body {
    overflow-x: hidden;
}

img {
    user-select: none;
}

.btn {
    background-color: var(--pry-clr);
    border: none;
}

.btn:hover {
    background-color: var(--pry-clr-lg);
}

.header-main {
    color: var(--pry-clr);
}

.bg-main {
    background-color: var(--pry-clr);
}

.about-info {
    color: #eeecec;
}

.about-overflow {
    overflow-x: hidden;
}

@media (max-width: 480px) {
    footer {
        font-size: .85rem;
    }
}